# Python / LangGraph
researcher_agent/venv/
researcher_agent/.env
__pycache__/
*.py[cod]

# Node / React
frontend/node_modules/
frontend/dist/
.env.local

# Mac/Linux System files
.DS_Store

# Local Database and Storage State
supabase/.temp/
supabase/.branches/
.supabase/

# JavaScript Packages
node_modules/
frontend/node_modules/

# Environment Variables (Never upload secrets to GitHub!)
.env
.env.local
frontend/.env.local
